<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Administration Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
  <div>
    <div>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- <a class="nav-link active" aria-current="page" href="/dashboard.html">Sign out</a> -->
                <a href="/accounts/logout/" role="button" class="btn btn-outline-danger">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <h1 class="text-center my-5">Administration Dashboard</h1>
  <div class="container my-5">
    <!-- <table
        class="table table-hover"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      > -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Sl</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Depertment</th>
          <th scope="col">Subject Codes</th>
          <th scope="col">Previous Result</th>
          <th scope="col">Residence</th>
          <th scope="col">Phone</th>
          <th scope="col">payable_amount</th>
          <th class="text-center" scope="col">Form</th>
          <th class="text-center" scope="col">Send</th>
        </tr>
      </thead>
      <tbody>
        {% for form in forms %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{form.student_id}}</td>
          <td>{{form.name}}</td>
          <td>{{form.department}}</td>
          <td>{{form.code1}}, {{form.code1}}, {{form.code1}} </td>
          <td class="text-center">{{form.result}}</td>
          <td>{{form.hall}}</td>
          <td>{{form.phone}}</td>
          <td>{{form.payable_amount}}</td>
          <td>
            <a href="{% url 'view_final_form'  form.id %}">
              <button type="button" class="btn btn-outline-info">
                View
              </button>
            </a>
            </td>
            <td>
            <a href="{% url 'add_payment' form.id %}">
              <button type="button" class="btn btn-outline-success">
                {% if form.payable_amount%}
                Edit fee
                {% else %}
                Enter fee
                {% endif %}
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>